.form input {
  border: 1px solid #ccc;
  padding: 10px 12px;
  outline: none;
  border-radius: 5px;
  width: 300px;
}
.form button {
  padding: 10px;
  background: #be42a9;
  color: white;
  border: none;
}
.formPart {
  margin-top: 20px;
}
.formPart h3 {
  margin: 20px 0;
  color: #be42a9;
}
