.form input {
  border: 1px solid #ccc;
  padding: 10px 12px;
  outline: none;
  border-radius: 5px;
  width: 300px;
}
.form button {
  padding: 10px;
  background: #059669;
  color: white;
  border: none;
  border-radius: 5px;
}
.form button:hover {
  cursor: pointer;
  border: 1px solid #059669;
  background: white;
  color: #059669;
}
.formPart {
  /* margin-top: 20px; */
}
.formPart h3 {
  margin: 20px 0;
  color: #059669;
}
.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .form {
    align-items: center;
    flex-direction: column;
  }
  .formPart {
    padding: 10px;
  }
  .form button {
    margin-top: 15px;
    width: 300px;
  }
}
